body {
  --textos: 'Roboto Slab', serif;
  --titulos: 'Roboto Condensed', sans-serif;
  --etiquetas: 'Roboto Mono', monospace;

  --border-radius: 4px;
  --color-basico: #80b841;
  --color-basico-l1: #6a9735; // color(#80b841 lightness(50%))
  --color-basico-l2: #a9d17b; //color(#80b841 lightness(65%))
  --color-basico-d1: #669334; // color(#80b841 shade(20%))
  --color-basico-d2: #4d6e27; //color(#80b841 shade(40%))
  --color-basico-f1: #80b841b3; // color(#80b841 alpha(70%))
  --color-basico-f2: #80b84166; //color(#80b841 alpha(40%))
  --color-secundario: #4187b8;
  --color-secundario-l1: #428abd;
  --color-secundario-l2: #7badd1;
  --color-secundario-d1: #346c93;
  --color-secundario-d2: #27516e;
  --color-secundario-f1: #4187b8b3;
  --color-secundario-f2: #4187b866;
  --color-error: #b94141;
  --color-error-l1: #be4646;
  --color-error-l2: #d17b7b;
  --color-error-d1: #943434;
  --color-error-d2: #6f2727;
  --color-error-f1: #b94141b3;
  --color-error-f2: #b9414166;
  --color-fondo: #ffffff;
  --color-fondo-d1: #bfccbe;
  --color-fondo-d2: #8f998e;
  --color-fondo-f1: #efffedb3;
  --color-fondo-f2: #efffed66;
  --color-tinta: #030608;
  --color-tinta-l1: #142939;
  --color-tinta-l2: #1b374b;
  --color-tinta-f1: #030608b3;
  --color-tinta-f2: #03060866;

  --min-width-ventana: 300px;
  --max-width-ventana: 500px;
  --margin: 20px;
}

body {
  background: var(--color-fondo);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  .marca {
    z-index: 2000;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5px;
    color: var(--color-fondo-f1);
    font-size: 125%;
    text-decoration: none;
    &:hover {
      color: var(--color-fondo);
    }
  }
}

#ventanas {
  &>.lista {
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    padding-bottom: 28px;
    min-height: ~"calc(100vh - 50px)";
    &>.cabecero {
      width: 100%;
      height: 50px;
      background: var(--color-basico);
      color: var(--color-fondo);
      margin-bottom: var(--margin);
      display: flex;
      align-items: center;
      padding: 0 ~"calc(50px + var(--margin))";
      box-sizing: border-box;

      &>form.input {
        justify-self: center;
        flex-grow: 1;
        position: relative;
        margin: 0 auto;
        // margin-left: var(--margin);
        // margin-right: ~"calc(50px + var(--margin))";
        max-width: 500px;
        &>input {
          border-radius: 30px!important;
          padding-left: 20px;
          padding-right: 30px;
          &::-webkit-input-placeholder,
          &::-moz-placeholder,
          &:-ms-input-placeholder,
          &:-moz-placeholder {
            text-align: center;
          }
        }
        &>i{
          position: absolute;
          right: 12px;
          top: 10px;
          color: var(--color-tinta-f2);
          cursor: pointer;
          &:hover {
            color: var(--color-tinta);
          }
        }
        &>input:focus + i {
          color: var(--color-tinta);
        }
      }
    }
    &>.cuerpo {
      .ventana {
        &>form.input {
          position: relative;
          &>input {
            padding-left: 20px;
            padding-right: 30px;
            margin: 0;
            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder {
              text-align: center;
            }
          }
          &>i{
            position: absolute;
            right: 12px;
            top: 10px;
            color: var(--color-tinta-f2);
            cursor: pointer;
            &:hover {
              color: var(--color-tinta);
            }
          }
          &>input:focus + i {
            color: var(--color-tinta);
          }
        }
      }
    }
  }
}



#ventanas>.fade.lista {
  &>.cabecero {
    h2 {
      margin: 0;
      font-size: 1rem;
      min-width: var(--min-width-ventana);
      max-width: var(--max-width-ventana);
      width: 100%;
      height: 50px;
      line-height: 50px;
      margin: 0 auto;
      box-sizing: border-box;
      text-transform: uppercase;
      font-family: var(--titulos);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #hamburguesa {
      filter: none;
    }
  }
  .cuerpo {
    &>.ventana, &>button{
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: var(--margin);
    }
    & > button {
      &.estrecha {
        width: auto;
      }
      flex-direction: row;
      justify-content: center;
      i {
        margin-right: 1ex;
      }
      min-width: var(--min-width-ventana);
      max-width: 100%;
      @media (max-width: 500px) {
        max-width: 100%;
      }
      width: 500px;
    }
  }
}

.ventana .status {
  flex-grow: 1;
  display: flex;
  color: var(--color-basico);
  align-items: flex-end;
  margin-bottom: ~"calc(var(--margin) / 2)";
  div {
    margin-right: var(--margin);
  }
}


.cabecero {
    .iconera {
    color: var(--color-basico);
    text-align: right;
    &>div {
      display: inline-block;
      transition: .3s background ease-out;
      border-radius: var(--border-radius);
      cursor: pointer;
      padding: 8px;
      &:hover {
        background: var(--color-tinta);
      }
      &:active {
        background: var(--color-fondo);
      }
    }
  }
}

.informacion {
  .iconera {
    color: var(--color-fondo);
    text-align: right;
    i {
      transition: .3s background ease-out;
      border-radius: var(--border-radius);
      cursor: pointer;
      padding: 8px;
      &:hover {
        background: var(--color-tinta);
      }
      &:active {
        background: var(--color-fondo);
      }
    }
  }
}

.openWindow {
  cursor: pointer;
}
