.youtube {
  padding-top: 56.25%;
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.social {
  -webkit-user-select: text;  /* Chrome all / Safari all */
  -moz-user-select: text;     /* Firefox all */
  -ms-user-select: text;      /* IE 10+ */
  user-select: text;          /* Likely future */
  &>img {
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
  }
  h3 {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    span {
      white-space: nowrap;
    }
    .titulo {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  p {
    margin-top: 10px;
  }
  a {
    color: var(--color-basico);
    text-decoration: none;
    font-size: 75%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
#ventanas {
  .ventana.previaLink {
    .cabecero {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden;
      .titulo, a {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      a {
        text-transform: none;
        font-family: var(--etiquetas);
        font-size: 80%;
        color: var(--color-basico);
      }
    }
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;          /* Likely future */
    .cuerpo {
      // margin: 0;
      display: flex;
      div.prevImagen {
        cursor: pointer;
        border-radius: var(--border-radius);
        width: 40%;
        flex-grow: 0;
        flex-shrink: 0;
        background-size: cover;
        background-position: center;
      }
      div.prevTexto {
        flex-grow: 0;
        width: 60%;
        padding-left: var(--margin);
        box-sizing: border-box;
      }
    }
  }
}
