#portada {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 300px;
    cursor: pointer;
  }
  p {
    position: relative;
    height: 0;
    margin: 0;
    top: -40px;
    font-family: 'The Girl Next Door', cursive;
    color: var(--color-fondo-f2);
    font-weight: bold;
    cursor: pointer;
    i {
      color: var(--color-fondo);
      width: 0;
      position: relative;
      top: 10px;
      left: 3px;
    }
  }
  img:hover+p, p:hover {
    color: var(--color-fondo);
    i {
      opacity: 0;
    }
  }
  &>form.input {
    width: 255px;
    max-width: 90vw;
    position: relative;
    &>input {
      border-radius: 30px!important;
      padding-left: 20px;
      padding-right: 30px;
      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder {
        text-align: center;
      }
    }
    &>i{
      position: absolute;
      right: 12px;
      top: 10px;
      color: var(--color-tinta-f2);
      cursor: pointer;
      &:hover {
        color: var(--color-tinta);
      }
    }
    &>input:focus + i {
      color: var(--color-tinta);
    }
  }
  div.botonera {
    z-index: 1000;
    text-align: center;
  }
  .crecer {
    flex-grow: 1
  }
}
